<h2>Customer: <%= @customer.name() %></h2>

<h3>Update Customer</h3>
  <form action="/customers/<%= @customer.id() %>/edit" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <button type="submit">Update</button>
  </form>

  <form action="/customers/<%= @customer.id() %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete Customer</button>
  </form>

<h3><%= @customer.name() %>'s Cart</h3>

  <% if @customer.carts.any?() %>
    <ul>
      <%  @customer.carts.each() do |cart| %>
        <li><%= Product.find(cart.product_id).description() %>: $<%= Product.find(cart.product_id).price() %></li>
      <% end %>
    </ul>
  <% else %>
    <p>
      <%= @customer.name() %>'s cart is empty.
    </p>
  <% end%>

<h4>Available Products</h4>
<ul>
  <% @products.each do |product| %>
    <li>
      <% @customer.carts.each do |cart| %>
        <% if cart.check_for_product(product.id()) %>
        #
        <% end %>
      <% end %>
      <% else %>
        <form action="/customers/<%= @customer.id() %>/carts/new" method="post">
          <input type="hidden" name="product_id" value="<%= product.id() %>">
          <button type="submit"><%= product.description() %></button>
        </form>
      <% end %>

    </li>
  <% end %>
</ul>

<button class="btn"><a href="/">Back</a></button>
