<h2>Customer: <%= @customer.name() %></h2>

<h3>Update Customer</h3>
  <form action="/customers/<%= @customer.id() %>/edit" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <button type="submit">Update</button>
  </form>

  <form action="/customers/<%= @customer.id() %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete Customer</button>
  </form>

<h3><%= @customer.name() %>'s Cart</h3>

  <% if @customer.carts.any?() %>

    <table class="table table-hover">

      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @customer.carts.each() do |cart| %>
        <tr>
          <td><%= Product.find(cart.product_id).description() %></td>
          <td><%= cart.quantity() %></td>
          <td><%= Product.find(cart.product_id).price() %></td>
          <td>
            <form action="/customers/<%= @customer.id() %>/carts/<%= cart.id() %>/delete" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="cart_id" value="<%= cart.id() %>">
              <input type="hidden" name="customer_id" value="<%= @customer.id() %>">
              <button type="submit"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </form>
          </td>
        </tr>
        <% end %>
      </tbody>

    </table>



  <% else %>
    <p>
      <%= @customer.name() %>'s cart is empty.
    </p>
  <% end%>

<h4>Available Products</h4>
<ul>
  <% @products.each do |product| %>
    <li>
      <% if @product_ids.include?(product.id()) %>
        <% @customer.carts.each do |cart| %>
          <% if cart.product_id == product.id() %>
            <form action="/customers/<%= @customer.id() %>/carts/<%= cart.id() %>/edit" method="post">
              <input type="hidden" name="_method" value="patch">
              <input type="hidden" name="cart_id" value="<%= cart.id() %>">
              <input type="hidden" name="customer_id" value="<%= @customer.id() %>">
              <button type="submit"><%= product.description() %></button>
            </form>
          <% end %>
        <% end %>
      <% else %>
        <form action="/customers/<%= @customer.id() %>/carts/new" method="post">
          <input type="hidden" name="product_id" value="<%= product.id() %>">
          <button type="submit"><%= product.description() %></button>
        </form>
      <% end %>

    </li>
  <% end %>
</ul>

<button class="btn"><a href="/">Back</a></button>
