<h1>Purchase History</h1>

<br>

<% @orders.each do |order| %>
  <h2><%= Customer.find(order.customer_id).name %> - <%= Date.parse(order.created_at().to_s).strftime('%B %e, %Y') %></h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% product_array = order.products.split %>
      <% price_array = order.prices.split %>
      <% quantity_array = order.quantities.split %>
      <% length = product_array.length %>
      <% length.times do %>
        <tr>
          <td><%= Product.find(product_array[0]).description %></td>
          <td><%= quantity_array[0] %></td>
          <td><%= price_array[0] %></td>
        </tr>
        <% product_array.shift %>
        <% price_array.shift %>
        <% quantity_array.shift %>
      <% end %>
      <tr>
        <td>Total</td>
        <td></td>
        <td><%= order.total() %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<a href="/"><button class="btn btn-primary">Back</button></a>
<br>
<br>
<br>
<br>
